{
  "presets": [
    "next/babel",
    "env",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [ "module-resolver",
      {
        "root": [
          "./src/client",
          "./src/server",
          "./src/common"
        ]
      }
    ]
  ]
}
